.edit-button {
  margin-left: 10px;
}

.delete-button {
  margin-left: 0;
  background-color: #898686;
}

.approve-button {
  background: blue;
}

.cancel-button {
  margin-left: 10px;
  background: red;
}

.approve-button:hover {
  background: green;
}

.patient-table {
  background: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
